! Xft Configs
Xft.antialias: true
Xft.hinting: true
!Xft.dpi: 96
!Xft.rgba: rgb
!Xft.hintstyle: hintslight

! Terminal Colors
xterm*background: #1d1f21
xterm*foreground: #ffffff

! Terminal Colorscheme "Belge" from http://www.xcolors.net/
!black
*color0:     #252525
*color8:     #454545
!red
*color1:     #EF6769
*color9:     #FC7CA5
!green
*color2:     #A6E22E
*color10:    #B6E354
!yellow
*color3:     #FD971F
*color11:    #FD971F
!blue
*color4:     #6495ED
*color12:    #87CEEB
!magenta
*color5:     #DEB887
*color13:    #996600
!cyan
*color6:     #B0C4DE
*color14:    #87CEEB
!white
*color7:     #DBDCDC
*color15:    #FDFDFD

! URxvt Configs
! For the following URxvt config entries you need the perl scripts mentioned in the next line.
URxvt.perl-ext: default,url-select,keyboard-select,resize-font,clipboard

URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.C-7: perl:keyboard-select:search

URxvt.url-select.launcher: xdg-open
URxvt.url-select.button: 1
URxvt.url-select.underline: true
URxvt.keysym.M-u: perl:url-select:select_next

!URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.autocopy: true

URxvt.shading: 25
URxvt.transparent: true
URxvt.scrollBar: false
URxvt.saveLines: 100000

! URxvt.font: xft:Terminess Powerline:size=8,xft:Noto Color Emoji
! URxvt.font: xft:Terminus:size=8,xft:Noto Color Emoji
! URxvt.font: xft:DejaVu Sans Mono:size=10:antialias=true
! URxvt.font: xft:Droid Sans Mono:size=10:antialias=true
URxvt*font:xft:Inconsolata:size=12,xft:FontAwesome
URxvt*boldFont: xft:Inconsolata:style=bold:size=12
URxvt*letterSpace: -1

URxvt.foreground: white
URxvt.background: black

! Preventing URxvt from automatically scrolling down, when scrolled back in buffer.
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! For these setting to work, you must use a version patched with xrdb support, like dmenu2.
! See http://tools.suckless.org/dmenu/patches/xrdb
dmenu.font: -xos4-terminus-medium-r-*-*-12-*
dmenu.selforeground: black
dmenu.selbackground: white
